.container {
  height: 100%;
  background-color: #073d80;
}

div.footer {
  margin-top: auto;
  margin-block-end: 20px;
  margin-inline-end: 20px;
      color: white;
}

.menu-item {
  margin-inline-end: 8px;
}