<div fxLayout='column' class="container">
    <header xFlex="100px" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="250px" fxLayout="row" fxLayoutAlign="end center">
          <img fxFlex="150px" src="assets/images/login/logo.png" alt="logoBancolombia">
        </div>
        <img fxFlex="30px" src="assets/images/login/export.png" alt="logoBancolombia">
    </header>
    <div class="title" fxFlex="30px" fxLayout="row" fxLayoutAlign="center center">Lista de Deseos</div>
    <main>
        
    </main>
    <footer fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/images/login/footer_logos.png" alt="">
    </footer>
  </div>